/* background */
.bg-white {
  background-color: rgb(255 255 255);
}

.bg-brainboard {
  background-image: radial-gradient(#5a39b3, black);
}

.bg-top {
  background-position: top;
}

.bg-green-700 {
  background-color: rgb(21 128 61);
}

.bg-stone-700 {
  background-color: rgb(68 64 60);
}

.bg-transparent {
  background-color: transparent;
}

/* margin */
.m-0 {
  margin: 0;
}

.m-3 {
  margin: 0.75rem; /* 12px */
}

.mt-3 {
  margin-top: 0.75rem; /* 12px */
}

.mt-4 {
  margin-top: 1rem; /* 16px */
}

/* padding */
.p-12 {
  padding: 3rem; /* 48px */
}

.pt-8 {
  padding-top: 2rem; /* 32px */
}

.pl-4 {
  padding-left: 1rem; /* 16px */
}

.py-4 {
  padding-top: 1rem; /* 16px */
  padding-bottom: 1rem; /* 16px */
}

.pt-4 {
  padding-top: 1rem; /* 16px */
}

.pb-4 {
  padding-bottom: 1rem; /* 16px */
}

.pl-1-5 {
  padding-left: 0.3rem; /* 6px */
}

.pl-1 {
  padding-left: 0.25rem; /* 4px */
}

.pl-1-5 {
  padding-left: 0.375rem; /* 6px */
}

.pr-40 {
  padding-right: 10rem; /* 160px */
}

.pb-4 {
  padding-bottom: 1rem; /* 16px */
}

/* font-family */

@font-face {
  font-family: "Cabin-Bold";
  src: url("../fonts/Cabin/Cabin-Bold.ttf");
}

.font-Cabin-Bold {
  font-family: "Cabin-Bold", "Bitstream Vera Serif", serif;
}

/* border */

.container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 38px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* position */

.self-center {
  align-self: center;
}

/* style */
.rounded-circle {
  border-radius: 50%;
}

.uppercase {
  text-transform: uppercase;
}

.shadow {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.font-bold {
  font-weight: 700;
}

.list-none {
  list-style-type: none;
}

/* text-color */
.text-white {
  color: rgb(255 255 255);
}

.text-gray-600 {
  color: rgb(75 85 99);
}

/* grid */
.grid {
  display: grid;
}

/* flex */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

/* position */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

@media screen and (min-width: 1024px) {
  /* lg-grid */
  .lg-grid {
    display: grid;
  }

  .lg-grid-cols-2 {
    grid-template-columns: 33% auto 66%;
  }

  .lg-col-span-1 {
    grid-column: span 1 / span 1;
  }

  .lg-col-span-2 {
    grid-column: span 2 / span 2;
  }
  /* lg-padding */
  .lg-pt-4 {
    padding-top: 1rem; /* 16px */
  }

  .lg-pl-1-5 {
    padding-left: 0.375rem; /* 6px */
  }

  .lg-pr-40 {
    padding-right: 10rem; /* 160px */
  }

  .lg-pb-4 {
    padding-bottom: 1rem; /* 16px */
  }

  .lg-pr-40 {
    padding-right: 10rem; /* 160px */
  }
}
