/* background */
.bg-white {
  background-color: rgb(255 255 255);
}

.bg-brainboard {
  background-image: radial-gradient(#5a39b3, black);
}

.bg-top {
  background-position: top;
}

.bg-green-700 {
  background-color: rgb(21 128 61);
}

.bg-stone-700 {
  background-color: rgb(68 64 60);
}

.bg-transparent {
  background-color: transparent;
}

/* margin */
.m-0 {
  margin: 0;
}

.m-3 {
  margin: 0.75rem; /* 12px */
}

.mt-3 {
  margin-top: 0.75rem; /* 12px */
}

.mt-4 {
  margin-top: 1rem; /* 16px */
}

/* padding */
.p-12 {
  padding: 3rem; /* 48px */
}

.pt-8 {
  padding-top: 2rem; /* 32px */
}

.pl-4 {
  padding-left: 1rem; /* 16px */
}

.py-4 {
  padding-top: 1rem; /* 16px */
  padding-bottom: 1rem; /* 16px */
}

.pt-4 {
  padding-top: 1rem; /* 16px */
}

.pb-4 {
  padding-bottom: 1rem; /* 16px */
}

/* font-family */

@font-face {
  font-family: "Cabin-Bold";
  src: url("../fonts/Cabin/Cabin-Bold.ttf");
}

.font-Cabin-Bold {
  font-family: "Cabin-Bold", "Bitstream Vera Serif", serif;
}

/* border */

.container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 38px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* position */

.self-center {
  align-self: center;
}

/* style */
.rounded-circle {
  border-radius: 50%;
}

.uppercase {
  text-transform: uppercase;
}

.shadow {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.font-bold {
  font-weight: 700;
}

.list-none {
  list-style-type: none;
}

/* text-color */
.text-white {
  color: rgb(255 255 255);
}

.text-gray-600 {
  color: rgb(75 85 99);
}

/* grid */
.grid {
  display: grid;
}

/* flex */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

/* position */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

@media (min-width: 1024px) {
  /* grid */
  .lg:display-grid {
    display: grid;
  }

  .lg:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .lg:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .lg:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .lg:col-span-4 {
    grid-column: span 4 / span 4;
  }

  /* flex */
  .lg:display-flex {
    display: flex;
  }

  .lg:flex-col {
    flex-direction: column;
  }

  .lg:flex-row {
    flex-direction: row;
  }

  /* margin */
  .lg:m-0 {
    margin: 0;
  }

  .lg:m-3 {
    margin: 0.75rem; /* 12px */
  }

  .lg:mt-3 {
    margin-top: 0.75rem; /* 12px */
  }

  .lg:mt-4 {
    margin-top: 1rem; /* 16px */
  }

  /* padding */
  .lg:p-12 {
    padding: 3rem; /* 48px */
  }

  .lg:pt-8 {
    padding-top: 2rem; /* 32px */
  }

  .lg:pl-4 {
    padding-left: 1rem; /* 16px */
  }

  .lg:py-4 {
    padding-top: 1rem; /* 16px */
    padding-bottom: 1rem; /* 16px */
  }

  .lg:pt-4 {
    padding-top: 1rem; /* 16px */
  }

  .lg:pb-4 {
    padding-bottom: 1rem; /* 16px */
  }

  /* width & height */
  .lg:w-2-6 {
    width: 33.333333%;
  }
}
