/* background */
.bg-white {
  background-color: rgb(255 255 255);
}

.bg-green {
  background-color: #303f3c;
}

/* flex */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

/* margin */

.mt-8 {
  margin-top: 2rem; /* 32px */
}

/* (-) margin */
.mt-4-1 {
  margin-top: -1rem; /* 16px */
}

/* padding */
.p-8 {
  padding: 2rem; /* 32px */
}

.pt-8 {
  padding-top: 2rem; /* 32px */
}

.px-12 {
  padding-left: 3rem; /* 48px */
  padding-right: 3rem; /* 48px */
}

.pt-4 {
  padding-top: 1rem; /* 16px */
}

/* style */
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.leading-normal {
  line-height: 1.5;
}

/* position */
.text-center {
  text-align: center;
}

/* text-color */
.text-white {
  color: white;
}

.text-green {
  color: #303f3c;
}

.text-yellow {
  color: #ffdf2b;
}

/* font-size */
.font-bold {
  font-weight: 700;
}

.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

/* visibility */
.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
  display: none;
}

/* font-family */

@font-face {
  font-family: "WorkSans-Bold";
  src: url("../fonts/Work_Sans/WorkSans-Bold.ttf");
}

.font-WorkSans-Bold {
  font-family: "WorkSans-Bold", serif;
}

.font-sans {
  font-family: sans-serif;
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  /* lg-grid */
  .lg-grid {
    display: grid;
  }

  .lg-grid-cols-2 {
    grid-template-columns: 33% auto 66%;
  }

  .lg-col-span-1 {
    grid-column: span 1 / span 1;
  }

  .lg-col-span-2 {
    grid-column: span 2 / span 2;
  }

  /* lg-margin */
  .lg-mx-64 {
    margin-left: 16rem; /* 256px */
    margin-right: 16rem; /* 256px */
  }

  /* lg-padding */
  .lg-px-8 {
    padding-left: 2rem; /* 32px */
    padding-right: 2rem; /* 32px */
  }

  /* lg-font-size */
  .lg-text-xs {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
  }

  .lg-text-5xl {
    font-size: 3rem; /* 48px */
    line-height: 1;
  }

  /* visibility */
  .lg-visible {
    visibility: visible;
  }

  .lg-invisible {
    visibility: hidden;
    display: none;
  }
}
